code, pre {
  padding: 7px;
  font-size: $code-font-size;
  font-family: $code-font-family;
  // background: $code-background;
  // color: #272822; background-color: #fafafa
  background-color: #ffffff
}

code {
  padding: 3px 5px;
  border-radius: 4px;
  color: $code-color;
}

pre > code {
  display: block;
}

// highlight.js
figure.highlight {
  margin: 1em 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  border-radius: 7px;
  // border: 1px solid black;
  position: relative;

  table {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 7px;
      font-size: $code-font-size;
      font-weight: bold;
      color: darken($gray, 10%);
      // background: darken($code-background, 3%);
      content: 'Code';
    }
  }

  @each $sign, $text in $code-type-list {
    &.#{$sign} > table::after {
      content: $text;
    }
  }

  .code {
    pre {
      margin: 0;
      padding: 30px 10px 10px;
    }
  }

  .gutter {
    width: 10px;
    color: $gray;

    pre {
      margin: 0;
      padding: 30px 7px 10px;
    }
  }

  .line {
    // Fix code block null line height and
    // Synchronous gutter and code line highly.
    height: round($code-font-size * 1.5);
  }

  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .code {
    .hljs-comment,
    .hljs-quote {
      color: map-get($code-highlight-color, comment);
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-addition {
      color: map-get($code-highlight-color, keyword);
    }

    .hljs-number,
    .hljs-string,
    .hljs-meta .hljs-meta-string,
    .hljs-literal,
    .hljs-doctag,
    .hljs-regexp {
      color: map-get($code-highlight-color, number);
    }

    .hljs-title,
    .hljs-section,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: map-get($code-highlight-color, title);
    }

    .hljs-attribute,
    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-class .hljs-title,
    .hljs-type {
      color: map-get($code-highlight-color, attribute);
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-subst,
    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-link {
      color: map-get($code-highlight-color, symbol);
    }

    .hljs-built_in,
    .hljs-deletion {
      color: map-get($code-highlight-color, built_in);
    }

    .hljs-formula {
      // background: map-get($code-highlight-color, formula);
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }
  }
}

// chroma
.highlight > .chroma {
  margin: 1em 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  border-radius: 5px;
  border: 1px solid rgb(136, 173, 156);
  position: relative;
  // background: $code-background;
  // color: #f8f8f2; background-color: #272822

  code {
    padding: 0;
  }

  table {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 2px 7px;
      font-size: $code-font-size;
      font-weight: bold;
      color: darken($gray, 10%);
      // background: darken($code-background, 3%);
      content: 'Code';
    }
  }

  @each $sign, $text in $code-type-list {
    &.#{$sign} > table::after {
      content: $text;
    }
  }

  .lntd {
    // Fix code block null line height and
    // Synchronous gutter and code line highly.
    line-height: round($code-font-size * 1.5);

    &:first-child {
      width: 10px;

      pre {
        margin: 0;
        padding: 30px 7px 10px;
      }
    }

    &:last-child {
      vertical-align: top;

      pre {
        margin: 0;
        padding: 30px 10px 10px;
      }
    }
  }

  table, tr, td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
  }
/* Other */  .x {  }
/* Error */  .err { color: #000000 }
/* LineTableTD */  .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */  .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */  .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */  .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */  .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */  .k { color: #a90d91 }
/* KeywordConstant */  .kc { color: #a90d91 }
/* KeywordDeclaration */  .kd { color: #a90d91 }
/* KeywordNamespace */  .kn { color: #a90d91 }
/* KeywordPseudo */  .kp { color: #a90d91 }
/* KeywordReserved */  .kr { color: #a90d91 }
/* KeywordType */  .kt { color: #a90d91 }
/* Name */  .n { color: #000000 }
/* NameAttribute */  .na { color: #836c28 }
/* NameBuiltin */  .nb { color: #a90d91 }
/* NameBuiltinPseudo */  .bp { color: #5b269a }
/* NameClass */  .nc { color: #3f6e75 }
/* NameConstant */  .no { color: #000000 }
/* NameDecorator */  .nd { color: #000000 }
/* NameEntity */  .ni { color: #000000 }
/* NameException */  .ne { color: #000000 }
/* NameFunction */  .nf { color: #000000 }
/* NameFunctionMagic */  .fm { color: #000000 }
/* NameLabel */  .nl { color: #000000 }
/* NameNamespace */  .nn { color: #000000 }
/* NameOther */  .nx { color: #000000 }
/* NameProperty */  .py { color: #000000 }
/* NameTag */  .nt { color: #000000 }
/* NameVariable */  .nv { color: #000000 }
/* NameVariableClass */  .vc { color: #000000 }
/* NameVariableGlobal */  .vg { color: #000000 }
/* NameVariableInstance */  .vi { color: #000000 }
/* NameVariableMagic */  .vm { color: #000000 }
/* Literal */  .l { color: #1c01ce }
/* LiteralDate */  .ld { color: #1c01ce }
/* LiteralString */  .s { color: #c41a16 }
/* LiteralStringAffix */  .sa { color: #c41a16 }
/* LiteralStringBacktick */  .sb { color: #c41a16 }
/* LiteralStringChar */  .sc { color: #2300ce }
/* LiteralStringDelimiter */  .dl { color: #c41a16 }
/* LiteralStringDoc */  .sd { color: #c41a16 }
/* LiteralStringDouble */  .s2 { color: #c41a16 }
/* LiteralStringEscape */  .se { color: #c41a16 }
/* LiteralStringHeredoc */  .sh { color: #c41a16 }
/* LiteralStringInterpol */  .si { color: #c41a16 }
/* LiteralStringOther */  .sx { color: #c41a16 }
/* LiteralStringRegex */  .sr { color: #c41a16 }
/* LiteralStringSingle */  .s1 { color: #c41a16 }
/* LiteralStringSymbol */  .ss { color: #c41a16 }
/* LiteralNumber */  .m { color: #1c01ce }
/* LiteralNumberBin */  .mb { color: #1c01ce }
/* LiteralNumberFloat */  .mf { color: #1c01ce }
/* LiteralNumberHex */  .mh { color: #1c01ce }
/* LiteralNumberInteger */  .mi { color: #1c01ce }
/* LiteralNumberIntegerLong */  .il { color: #1c01ce }
/* LiteralNumberOct */  .mo { color: #1c01ce }
/* Operator */  .o { color: #000000 }
/* OperatorWord */  .ow { color: #000000 }
/* Punctuation */  .p {  }
/* Comment */  .c { color: #177500 }
/* CommentHashbang */  .ch { color: #177500 }
/* CommentMultiline */  .cm { color: #177500 }
/* CommentSingle */  .c1 { color: #177500 }
/* CommentSpecial */  .cs { color: #177500 }
/* CommentPreproc */  .cp { color: #633820 }
/* CommentPreprocFile */  .cpf { color: #633820 }
/* Generic */  .g {  }
/* GenericDeleted */  .gd {  }
/* GenericEmph */  .ge {  }
/* GenericError */  .gr {  }
/* GenericHeading */  .gh {  }
/* GenericInserted */  .gi {  }
/* GenericOutput */  .go {  }
/* GenericPrompt */  .gp {  }
/* GenericStrong */  .gs {  }
/* GenericSubheading */  .gu {  }
/* GenericTraceback */  .gt {  }
/* GenericUnderline */  .gl {  }
/* TextWhitespace */  .w {  }

}
